$primary-color:#39485B;

*{
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}
ul,ol{
    list-style-type: none;;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    // background-color: rgb(247, 0, 0); 
}
header{
    width: 100%;
    max-width:1440px;
    height: 680px;
    background-image: url(/public/images/background_image_01.png);
    position: relative;
    margin: 0 auto;
}
header>.container>.row>a>img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header > .container nav > ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 100px;
    // padding-right:10px;
}
header>.container nav>ul>li{
    margin-left: 40px;
    display: flex;
}
header>.container nav>ul>li>a{
    color: white;
    font-size: 24px;
    display: block;
}
header>.container nav>ul>li:nth-child(3){
    margin-right:310px;
}
header>.container nav>ul>li:nth-child(4){
    margin-left:0px;
}
header>.container nav>ul>li:nth-child(6){
    margin-left:100px;
}
header>.container nav>ul>li:hover{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
header>.container nav>ul>li>a:hover{
    color: rgb(197, 189, 211);
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.flex-space-between {
    justify-content: space-between;
}


