$primary-color:#39485B;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    // background-color: rgb(247, 0, 0); 
}
// header start
header{
    width: 100%;
    max-width:1440px;
    height: 680px;
    background-image: url(../images/background_image_01.png);
    position: relative;
    margin: 0 auto;
}
header>.container>.row>a>img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header > .container nav > ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 100px;
    // padding-right:10px;
}
header>.container nav>ul>li{
    margin-left: 40px;
    display: flex;
}
header>.container nav>ul>li>a{
    color: white;
    font-size: 24px;
    display: block;
}
header>.container nav>ul>li:nth-child(3){
    margin-right:260px;
}
header>.container nav>ul>li:nth-child(4){
    margin-left:0px;
}
header>.container nav>ul>li:nth-child(6){
    margin-left:150px;
}
header>.container nav>ul>li:hover{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
header>.container nav>ul>li>a:hover{
    color: rgb(197, 189, 211);
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.flex-space-between {
    justify-content: space-between;
}
//header end
.container>.text-center>p{
    margin-bottom: 20px;
}
//content start
.container > h2{
    margin-bottom: 30px;
}
.container > .row  img{
    margin-bottom: 10px;
}
.ig_content{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 460px;
    background-image: url(../images/moroccan-flower.png);
    background-repeat: repeat;
}
.ig_content > .container > h2{
    padding-top: 30px;
}
.shortunderline::before{
    content:"";
    width: 4rem;
    display: block;
    border-bottom: 0.0625rem solid;
    margin-bottom: 1.4375rem;
    margin-left: auto;
    margin-right: auto;
}
.text-content{
    height: 261px;
    border: 6px double rgba(52, 51, 80, 0.50);
}
.ig_content>.container>.row .text-center{
    background-color: rgb(52, 51, 80, 0.50);
    margin: 10px;
    color: white;
    height: 229px;
}
.ig_content>.container>.row .text-center>h3{
    padding-top: 20px;
    padding-bottom: 10px;
}
.ig_content>.container>.row .text-center>p{
    padding-bottom: 20px;
}
.ig_content>.container>.row .text-center>a{
    border: 1px solid white;
    color: white;
    padding: 10px;
}
.ig_content>.container>.row .text-center>a:hover{
    border: 1px solid rgb(182, 182, 182);
    color: rgb(182, 182, 182);
}
//content end
//footer start
footer{
    background-color: $primary-color;
    color: white;
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

}
footer>.container .icon{
    display: flex;
    margin: 40px 0;
    justify-content: center;

}
footer>.container>.icon a{
    display: block;
    padding: 0 20px;
}
footer>.container .information{
    display: block;
    padding-bottom: 20px;
}
footer>.container .information>h5{
    margin-bottom: 10px;
}

//footer end

// 文字相關樣式
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
.banner{
    width: 100%;
    max-width:1440px;
    margin: 50px auto;
}


@for $i from 1 through 12{
    .col-#{$i}{
    --num:calc(12 / #{$i});
    width:calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
}}

@media (min-width:768px){
    @for $i from 1 through 12{
        .col-md-#{$i}{
            --num:calc(12/ #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}

@media (min-width:1200px){
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}