body {
  margin: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 680px;
  background-image: url(/public/images/background_image_01.png);
  position: relative;
}

header img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header nav {
  display: flex;
  justify-content: center;
}

header > .container nav > ul {
  display: flex;
}

header > .container nav > ul {
  display: flex;
  justify-content: space-between;
}

header > .container nav > ul > li > a {
  color: white;
  font-size: 24px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-space-between {
  justify-content: space-between;
}