* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

header {
  width: 100%;
  max-width: 1440px;
  height: 680px;
  background-image: url(../images/background_image_01.png);
  position: relative;
  margin: 0 auto;
}

header > .container > .row > a > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header > .container nav > ul {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 100px;
}

header > .container nav > ul > li {
  margin-left: 40px;
  display: flex;
}

header > .container nav > ul > li > a {
  color: white;
  font-size: 24px;
  display: block;
}

header > .container nav > ul > li:nth-child(3) {
  margin-right: 310px;
}

header > .container nav > ul > li:nth-child(4) {
  margin-left: 0px;
}

header > .container nav > ul > li:nth-child(6) {
  margin-left: 100px;
}

header > .container nav > ul > li:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

header > .container nav > ul > li > a:hover {
  color: #c5bdd3;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-space-between {
  justify-content: space-between;
}

.container > .text-center > p {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}