doctype html
html(lang="zh-Hant")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 發光的石頭 | 關於品牌
        link(rel='stylesheet' href='public/css/styles.css')


        
    body 
        header 
            .container
                .row.flex-space-between
                    h1
                        a(href="index.html")
                            img(src="public/images/logo_2.png", alt="")
                    a#btn-nav-switch.icon-menu.display-md-none(href="javascript:;")
                        span
                    nav 
                        ul 
                            li 
                                a(href="about.html") 關於品牌
                            li 
                                a(href="process.html") 訂購流程 
                            li 
                                a(href="cake_color.html") 蛋糕色彩
                            li  
                                a(href="faq.html") 常見Q&A
                            li 
                                a(href="contact.html") 聯絡我們
                            li 
                                a(href="shopping_list.html")
                                    img.img-fluid(src="public/images/shopping cart.png", alt="shopping_cart")
                .title
                    h2 OUR STORY
        .container
            .row
                .col-12.col-md-6.col-lg-6
                    article
                        .left
                            img(src="public/images/icon_stone_1.png", alt="")
                        .right 
                            h3 2018年的5月11日
                            p.text-justify 發光的石頭第一天與大家見面 ，當時的空間及運用與現在非常不同，是咖啡與甜點提供給大家內用休息、放鬆聊天的地方，是家人、身邊的好友們一起攜手打造的地方，承載了我與周遭的人們、客人們與周遭的人們各自的回憶與共同回憶堆疊的地方。                     
                .col-12.col-md-6.col-lg-6
                    article.boxhight
                        .left
                            img(src="public/images/icon_stone_2.png", alt="")
                        .right
                            h3 2019年的4月23日
                            p.text-justify 接續的兩年多，是為大家製作慶祝蛋糕的不開放工作室，獨自工作的兩年半，是孤獨與能量灌注的累積直到現在，成了開放的工作室。             
            .row
                .col-12.col-md-12.col-lg-12 
                    article 
                        .left  
                            img(src="public/images/icon_stone_3.png", alt="")
                        .right
                            h3 2022年的2月10日
                            p.text-justify 發光的石頭在新的空間默默地開幕了，煮了一大鍋甜湯圓分送給從施工開始，每日來探班關心進度的鄰居阿公阿嬤、散步經過的路人、還有驚喜出現的遠方好友。新的空間目前沒有提供內用，它是保有過去發光的石頭氛圍、也參雜一些新的元素的空間，對我來說它就像是另一個我的模樣，介於中間，一個過度，卻也是新的開始。這裏提供大家到店取貨、現場討論訂單、還有切片蛋糕（一人份甜點）的販售。
            .exterior
                .exterior-child
                    img(src="public/images/Exterior_1.jpg", alt="")
                    img(src="public/images/Exterior_2.jpg", alt="")
                    img(src="public/images/Exterior_3.jpg", alt="")
                .left-arrow <
                .right-arrow >
                ol.indicator 
                    li.active
            .text-center
                p.margin-top-30
                    img(src="public/images/logo_3.png", alt="")
                p 營業時間：13:00-17:30
                p 位置：台中市西區向上北路224巷21號
                hr
                h3.margin-top-30.margin-bottom-30 服務項目
                p 預定蛋糕取貨地點(歡迎到店討論訂單)
                p 切片甜點外帶(暫無提供內用)
                p 點心禮盒製作
                hr
                h3.margin-top-30.margin-bottom-30 交通資訊
                p 汽車：散步約五分鐘路程至店(向上、大益停車場、麻園頭溪周遭停車格)
                p 公車：散步約五分鐘路程至店(向上忠明路口、頂麻園、美村向上路口)
                //- iframe.margin-bottom-30(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.6616670126978!2d120.65724971466445!3d24.14851717936844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d1babf7cba7%3A0x8234db4150b5b367!2z55m85YWJ55qE55-z6aCtIFN0b25lZCBpbiBwYXJhZGlzZSDnlJzpu57lt6XkvZzlrqQ!5e0!3m2!1szh-TW!2stw!4v1656857634830!5m2!1szh-TW!2stw' width='1140' height='600' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
        .ig_content
            .container
                h2.text-center.shortunderline THE JOURNEY
                .row
                    .col-12.col-md-3.col-lg-3
                        .text-content
                            .text-center
                                h3 Recent Posts
                                p Every little thing
                                p happened in 
                                p Stoned In Paradise Studio
                                .button
                                    a(href="https://www.instagram.com/stonedinparadise.studio/" target="_blank" title="Instagram") READ MORE
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/CfMJArivl7h/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_01.jpg", alt="")
                                    .blur
                                    h3 2022.06.24
                                    h4 那天的花園蛋糕...
                        
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/CetM9ETPZEA/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_02.jpg", alt="")
                                    .blur
                                    h3 2022.06.12
                                    h4 《抽獎抽獎抽蛋糕得主》...
                        
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/Cen75MmP0Px/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_03.jpg", alt="")
                                    .blur
                                    h3 2022.06.10
                                    h4 大家晚安，今日工作繁忙...
                        
        footer
            .container.text-center
                .icon
                    a(href="https://www.facebook.com/stonedinparadise.cafe" target="_blank" title="Facebook")
                        img(src="public/images/icon_fb.svg", alt="Facebook")
                    a(href="https://www.instagram.com/stonedinparadise.studio/" target="_blank" title="Instagram")
                        img(src="public/images/icon_ig.svg", alt="Instagram")
                .information
                    h5 營業時間：13:00-17:30
                    h5 位置：台中市西區向上北路224巷21號
                    h6 © 2021 Stoned in Paradise Studio Co., Ltd. 發光的石頭
        script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous") 
        script(src="public/js/script.js") 
