doctype html
html(lang="zh-Hant")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 發光的石頭 | 蛋糕色彩
        link(rel='stylesheet' href='public/css/styles-3.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css")

        
    body 
        header 
            .container
                .row.flex-space-between
                    h1
                        a(href="index.html")
                            img(src="public/images/logo_2.png", alt="")
                    a#btn-nav-switch.icon-menu.display-md-none(href="javascript:;")
                        span
                    nav 
                        ul 
                            li 
                                a(href="about.html") 關於品牌
                            li 
                                a(href="process.html") 訂購流程 
                            li 
                                a(href="cake_color.html") 蛋糕色彩
                            li  
                                a(href="faq.html") 常見Q&A
                            li 
                                a(href="contact.html") 聯絡我們
                            li 
                                a(href="shopping_list.html")
                                    img.img-fluid(src="public/images/shopping cart.png", alt="shopping_cart")
                .title
                    h2 FRESH CREAM CAKE
        .container
            h2.text-center 蛋糕色彩
            .row.text-center
                .col-12.col-md-6.col-lg-6.border-dotted
                    h2.margin-top-bottom-10 天然食材調色
                    p.margin-top-bottom-10 天然食物原色、避免色彩暈染
                    p.margin-top-bottom-10 蛋糕顏色彩參考
                    .color-box.margin-top-bottom-10
                        .color-chart
                            .circle.color-1
                            p 白色
                        .color-chart
                            .circle.color-2
                            p 褐色(巧克力、培茶) 
                        .color-chart                       
                            .circle.color-3
                            p 玫瑰色
                        .color-chart
                            .circle.color-4
                            p 草綠色(抹茶、四季春)                  
                .col-12.col-md-6.col-lg-6.border-dotted
                    h2.margin-top-bottom-10 食用色素調色
                    p.margin-top-bottom-10 使用純動物鮮奶油製作調色暈染
                    p.margin-top-bottom-10 現象為正常，色彩越飽和越容易暈染，蛋糕放至
                    p.margin-top-bottom-10 隔日現象越明顯，可接受再選擇
                    p.margin-top-bottom-10 (指定色彩可製作接近、無法一模一樣)
                    img.img-fluid-4.margin-top-bottom-10(src="public/images/palette.png", alt="")
            h2.text-center 參考照片
            .row  
                .col-6.col-md-3.col-lg-3
                    a(href="public/images/cake_1.jpeg" data-lightbox="image-1" data-title="")
                        img.img-fluid(src="public/images/cake_1.jpeg", alt="")
                .col-6.col-md-3.col-lg-3
                    a(href="public/images/cake_2.jpeg" data-lightbox="image-1" data-title="")                        
                        img.img-fluid(src="public/images/cake_2.jpeg", alt="")
                .col-6.col-md-3.col-lg-3
                    a(href="public/images/cake_3.jpeg" data-lightbox="image-1" data-title="")                        
                        img.img-fluid(src="public/images/cake_3.jpeg", alt="")
                .col-6.col-md-3.col-lg-3
                    a(href="public/images/cake_4.jpeg" data-lightbox="image-1" data-title="")                        
                        img.img-fluid(src="public/images/cake_4.jpeg", alt="")
            .row  
                .col-6.col-md-3.col-lg-3
                    a(href="public/images/cake_5.jpeg" data-lightbox="image-1" data-title="")                        
                        img.img-fluid(src="public/images/cake_5.jpeg", alt="")
                .col-6.col-md-3.col-lg-3
                    a(href="public/images/cake_6.jpeg" data-lightbox="image-1" data-title="")                        
                        img.img-fluid(src="public/images/cake_6.jpeg", alt="")
                .col-6.col-md-3.col-lg-3
                    a(href="public/images/cake_7.jpeg" data-lightbox="image-1" data-title="")                        
                        img.img-fluid(src="public/images/cake_7.jpeg", alt="")
                .col-6.col-md-3.col-lg-3
                    a(href="public/images/cake_8.jpeg" data-lightbox="image-1" data-title="")                        
                        img.img-fluid(src="public/images/cake_8.jpeg", alt="")
            .row  
                .col-6.col-md-3.col-lg-3
                    a(href="public/images/cake_9.jpeg" data-lightbox="image-1" data-title="")                        
                        img.img-fluid(src="public/images/cake_9.jpeg", alt="")
                .col-6.col-md-3.col-lg-3
                    a(href="public/images/cake_10.jpeg" data-lightbox="image-1" data-title="")                        
                        img.img-fluid(src="public/images/cake_10.jpeg", alt="")
                .col-6.col-md-3.col-lg-3
                    a(href="public/images/cake_11.jpeg" data-lightbox="image-1" data-title="")                        
                        img.img-fluid(src="public/images/cake_11.jpeg", alt="")
                .col-6.col-md-3.col-lg-3 
                    a(href="public/images/cake_12.jpeg" data-lightbox="image-1" data-title="")                        
                        img.img-fluid(src="public/images/cake_12.jpeg", alt="")               
        .ig_content
            .container
                h2.text-center.shortunderline THE JOURNEY
                .row
                    .col-12.col-md-3.col-lg-3
                        .text-content
                            .text-center
                                h3 Recent Posts
                                p Every little thing
                                p happened in 
                                p Stoned In Paradise Studio
                                .button
                                    a(href="https://www.instagram.com/stonedinparadise.studio/" target="_blank" title="Instagram") READ MORE
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/CfMJArivl7h/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_01.jpg", alt="")
                                    .blur
                                    h3 2022.06.24
                                    h4 那天的花園蛋糕...
                        
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/CetM9ETPZEA/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_02.jpg", alt="")
                                    .blur
                                    h3 2022.06.12
                                    h4 《抽獎抽獎抽蛋糕得主》...
                        
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/Cen75MmP0Px/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_03.jpg", alt="")
                                    .blur
                                    h3 2022.06.10
                                    h4 大家晚安，今日工作繁忙...
                        
        footer
            .container.text-center
                .icon
                    a(href="https://www.facebook.com/stonedinparadise.cafe" target="_blank" title="Facebook")
                        img(src="public/images/icon_fb.svg", alt="Facebook")
                    a(href="https://www.instagram.com/stonedinparadise.studio/" target="_blank" title="Instagram")
                        img(src="public/images/icon_ig.svg", alt="Instagram")
                .information
                    h5 營業時間：13:00-17:30
                    h5 位置：台中市西區向上北路224巷21號
                    h6 © 2021 Stoned in Paradise Studio Co., Ltd. 發光的石頭
        script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous") 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js")
        script(src="public/js/script.js") 
