doctype html
html(lang="zh-Hant")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 發光的石頭|訂購流程
        link(rel='stylesheet' href='public/css/styles.css')


        
    body 
        header 
            .container
                .row.flex-space-between
                    h1
                        a(href="index.html")
                            img(src="public/images/logo_2.png", alt="")
                    a#btn-nav-switch.icon-menu.display-md-none(href="javascript:;")
                        span
                    nav 
                        ul 
                            li 
                                a(href="about.html") 關於品牌
                            li 
                                a(href="process.html") 訂購流程 
                            li 
                                a(href="cake_color.html") 蛋糕色彩
                            li  
                                a(href="faq.html") 常見Q&A
                            li 
                                a(href="contact.html") 聯絡我們
                            li 
                                a(href="shopping_list.html")
                                    img.img-fluid(src="public/images/shopping cart.png", alt="shopping_cart")
                .title
                    h2 Q&A
        .container
            h2.text-center 保存方式
            ul.faq-contnet
                li.faq-list 
                    p.faq-title 請問蛋糕可以保存幾天呢？拿到後怎麼享用及保存呢？
                        button.btn-faq  
                    p.faq-title-p 蛋糕為取貨當日製作，請連同包裝盒冷藏，於三日內吃光。
                li 
                li.faq-list 
                    p.faq-title 請問蛋糕可以減糖嗎？
                        button.btn-faq  
                    p.faq-title-p 蛋糕為取貨當日製作，請連同包裝盒冷藏，於三日內吃光。
                li 
                li.faq-list 
                    p.faq-title 標注的尺寸可以分給幾位享用呢？
                        button.btn-faq  
                    p.faq-title-p 蛋糕為取貨當日製作，請連同包裝盒冷藏，於三日內吃光。
                li 
        .ig_content
            .container
                h2.text-center.shortunderline THE JOURNEY
                .row
                    .col-12.col-md-3.col-lg-3
                        .text-content
                            .text-center
                                h3 Recent Posts
                                p Every little thing
                                p happened in 
                                p Stoned In Paradise Studio
                                .button
                                    a(href="https://www.instagram.com/stonedinparadise.studio/" target="_blank" title="Instagram") READ MORE
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/CfMJArivl7h/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_01.jpg", alt="")
                                    .blur
                                    h3 2022.06.24
                                    h4 那天的花園蛋糕...
                        
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/CetM9ETPZEA/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_02.jpg", alt="")
                                    .blur
                                    h3 2022.06.12
                                    h4 《抽獎抽獎抽蛋糕得主》...
                        
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/Cen75MmP0Px/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_03.jpg", alt="")
                                    .blur
                                    h3 2022.06.10
                                    h4 大家晚安，今日工作繁忙...
                        
        footer
            .container.text-center
                .icon
                    a(href="https://www.facebook.com/stonedinparadise.cafe" target="_blank" title="Facebook")
                        img(src="public/images/icon_fb.svg", alt="Facebook")
                    a(href="https://www.instagram.com/stonedinparadise.studio/" target="_blank" title="Instagram")
                        img(src="public/images/icon_ig.svg", alt="Instagram")
                .information
                    h5 營業時間：13:00-17:30
                    h5 位置：台中市西區向上北路224巷21號
                    h6 © 2021 Stoned in Paradise Studio Co., Ltd. 發光的石頭
        script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous") 
        script(src="public/js/script.js") 
