doctype html
html(lang="zh-Hant")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 發光的石頭
        link(rel='stylesheet' href='public/css/styles.css')
        link(rel='stylesheet' href='public/js/WOW-master/css/libs/animate.css')


        
    body
        .loading-overlay
            img.loader.wow.pulse.animated(src="public/images/loading_img.svg", alt="")
        header 
            .container
                .row.flex-space-between
                    h1
                        a(href="index.html")
                            img(src="public/images/logo_1.png", alt="")
                    a#btn-nav-switch.icon-menu.display-md-none(href="javascript:;")
                        span
                    nav 
                        ul 
                            li 
                                a(href="about.html") 關於品牌
                            li 
                                a(href="process.html") 訂購流程 
                            li 
                                a(href="cake_color.html") 蛋糕色彩
                            li  
                                a(href="faq.html") 常見Q&A
                            li 
                                a(href="contact.html") 聯絡我們
                            li 
                                a(href="shopping_list.html")
                                    img.img-fluid(src="public/images/shopping cart.png", alt="shopping_cart")
                                    
        .container 
            .text-center
                p
                    img.wow.bounce(src="public/images/logo_3.png", alt="")
                p.wow.fadeInDown 就像礦石裡頭，閃亮繽紛的色彩一般；
                p.wow.fadeInDown 如同在平凡生活中，沾染一點新奇。
                p.wow.fadeInDown 將我們喜愛的樣子呈現給大家，
                p.wow.fadeInDown 但願你也能困在這天堂般的美好之中。
        .banner.wow.fadeInDown
            picture
                source(srcset="public/images/background_image_02.png" media="(min-width: 767px)")   
                img.img-fluid(src="public/images/background_image_md_2.png")
        .container
            h2.text-center  從生活感受找尋靈感
            .row
                .col-12.col-md-4.col-lg-4
                    .img-wrap
                        .img-overlay
                            img.img-fluid(src="public/images/discuss.jpg", alt="客製化的討論")
                            img.img-icon(src="public/images/icon_ discuss.svg")
                        h3.text-center 客製化的討論
                .col-12.col-md-4.col-lg-4
                    .img-wrap
                        .img-overlay
                            img.img-fluid(src="public/images/ingredients.jpg", alt="選擇天然的食材")
                            img.img-icon(src="public/images/icon_fruit.svg")
                        h3.text-center 選擇天然的食材
                .col-12.col-md-4.col-lg-4
                    .img-wrap
                        .img-overlay
                            img.img-fluid(src="public/images/warmth.jpg", alt="生活的溫度")
                            img.img-icon(src="public/images/icon_ love.svg")
                        h3.text-center 生活的溫度
        .ig_content
            .container
                h2.text-center.shortunderline THE JOURNEY
                .row
                    .col-12.col-md-3.col-lg-3
                        .text-content
                            .text-center
                                h3 Recent Posts
                                p Every little thing
                                p happened in 
                                p Stoned In Paradise Studio
                                .button
                                    a(href="https://www.instagram.com/stonedinparadise.studio/" target="_blank" title="Instagram") READ MORE
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/CfMJArivl7h/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_01.jpg", alt="")
                                    .blur
                                    h3 2022.06.24
                                    h4 那天的花園蛋糕...
                        
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/CetM9ETPZEA/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_02.jpg", alt="")
                                    .blur
                                    h3 2022.06.12
                                    h4 《抽獎抽獎抽蛋糕得主》...
                        
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/Cen75MmP0Px/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_03.jpg", alt="")
                                    .blur
                                    h3 2022.06.10
                                    h4 大家晚安，今日工作繁忙...
                        
        footer
            .container.text-center
                .icon
                    a(href="https://www.facebook.com/stonedinparadise.cafe" target="_blank" title="Facebook")
                        img(src="public/images/icon_fb.svg", alt="Facebook")
                    a(href="https://www.instagram.com/stonedinparadise.studio/" target="_blank" title="Instagram")
                        img(src="public/images/icon_ig.svg", alt="Instagram")
                .information
                    h5 營業時間：13:00-17:30
                    h5 位置：台中市西區向上北路224巷21號
                    h6 © 2021 Stoned in Paradise Studio Co., Ltd. 發光的石頭
        a.page-top(href="javascript:;") TOP
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous") 
    script(src="public/js/WOW-master/dist/wow.min.js")
    script(src="public/js/script.js")
