doctype html
html(lang="zh-Hant")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 發光的石頭|訂購流程
        link(rel='stylesheet' href='public/css/styles.css')


        
    body 
        header 
            .container
                .row.flex-space-between
                    h1
                        a(href="index.html")
                            img(src="public/images/logo_2.png", alt="")
                    a#btn-nav-switch.icon-menu.display-md-none(href="javascript:;")
                        span
                    nav 
                        ul 
                            li 
                                a(href="about.html") 關於品牌
                            li 
                                a(href="process.html") 訂購流程 
                            li 
                                a(href="cake_color.html") 蛋糕色彩
                            li  
                                a(href="faq.html") 常見Q&A
                            li 
                                a(href="contact.html") 聯絡我們
                            li 
                                a(href="shopping_list.html")
                                    img.img-fluid(src="public/images/shopping cart.png", alt="shopping_cart")
                .title
                    h2 ORDER PROCESS
        .container
            h2.text-center 訂購流程
            .row.text-center
                .col-12.col-md-3.col-lg-3.border
                    h3.margin-top-bottom-10 STEP 1
                    .img-fluid-2   
                        img.img-fluid-2(src="public/images/calendar.svg", alt="月曆")
                    p.margin-top-bottom-10 參考取貨月曆「可取貨日期
                    p.margin-top-bottom-10 (每月十號公告次月取貨月曆)
                .col-12.col-md-3.col-lg-3.border
                    h3.margin-top-bottom-10 STEP 2
                    .img-fluid-2   
                        img.img-fluid-2(src="public/images/cake.svg", alt="蛋糕")
                    p.margin-top-bottom-10 索取該月季節口味
                    p.margin-top-bottom-10 (每月更換品項)
                .col-12.col-md-3.col-lg-3.border
                    h3.margin-top-bottom-10 STEP 3
                    .img-fluid-2   
                        img.img-fluid-2(src="public/images/order.svg", alt="訂單")
                    p.margin-top-bottom-10 選擇口味、尺寸、製作方式後
                    p.margin-top-bottom-10 取得報價
                .col-12.col-md-3.col-lg-3.border
                    h3.margin-top-bottom-10 STEP 4
                    .img-fluid-2   
                        img.img-fluid-2(src="public/images/pay.svg", alt="付費")
                    p.margin-top-bottom-10 完成訂購表單
                    p.margin-top-bottom-10 指定日期內匯款
            hr
            h2.text-center.margin-top-30 訂購須知
                h3.text-center.margin-top-bottom-10 一般訂購須於取貨前三日完成(急單可私訊碰碰運氣)
                h3.text-center.margin-bottom-30 訂購成功：完成訂購表單、指定日期內匯款(通知工作室對帳完成)才算成立訂單喔
            hr
            h2.margin-top-30.text-center 尺寸與形狀
            .row.text-center
                .col-12.col-md-6.col-lg-6.border-dotted
                    h3.margin-top-bottom-10 原形
                    img(src="public/images/product_cake_01.jpg", alt="")
                    .row.margin-top-bottom-10   
                        .col-4.col-md-4.col-lg-4.display-md-flex    
                            h3 Size
                            img.img-fluid-3(src="public/images/icon_piece_1.png", alt="")
                            p 5” (Φ 13cm)
                        .col-4.col-md-4.col-lg-4.display-md-flex    
                            h3.color-white Size
                            img.img-fluid-3(src="public/images/icon_piece_2.png", alt="")
                            p 6” (Φ 15cm)
                        .col-4.col-md-4.col-lg-4.display-md-flex    
                            h3.color-white Size
                            img.img-fluid-3(src="public/images/icon_piece_3.png", alt="")
                            p 8” (Φ 20cm)                          
                .col-12.col-md-6.col-lg-6.border-dotted
                    h3.margin-top-bottom-10 心形
                    img(src="public/images/product_cake_02.jpg", alt="")
                    .row.margin-top-bottom-10   
                        .col-4.col-md-4.col-lg-4.display-md-flex    
                            h3 Size
                            img.img-fluid-3(src="public/images/icon_piece_4.png", alt="")
                            p 6” (Φ 15cm)
                        .col-4.col-md-4.col-lg-4.display-md-flex    
                            h3.color-white Size
                            img.img-fluid-3(src="public/images/icon_piece_5.png", alt="")
                            p 8” (Φ 20cm)   
                .col-12.col-md-12.col-lg-12
                    h3.text-center ＊無提供四寸尺寸製作，若有小蛋糕需求，請參考每日切片甜點
            hr
            h2.text-center.margin-top-30 製作方式
            section.product-section-1.postion-relative 
                .container 
                    .row 
                        .col-12.col-md-6
                            img.img-fluid(src="public/images/no_style_specified.png", alt="不指定樣式")
                        .col-12.col-md-6
                            p.product-title 不指定樣式
                            p 完全由工作室設計、可以題字
                            p (主要以實物本色、花材、水果裝飾)
            section.product-section-2.postion-relative 
                .container 
                    .row 
                        .col-12.col-md-6
                            img.img-fluid(src="public/images/half_customization.png", alt="半客製化")
                        .col-12.col-md-6.order-md-1
                            p.product-title 半客製化
                            p 提供部分需求、部分由工作室創作
                            p (可先瀏覽粉專作品，喜歡工作室風格再選擇)
                            p 亦可提供抽象需求：例如一首歌、一種感覺等   
            section.product-section-3.postion-relative 
                .container 
                    .row 
                        .col-12.col-md-6
                            img.img-fluid(src="public/images/customization.png", alt="客製化")
                        .col-12.col-md-6
                            p.product-title 客製化
                            p 依需求製作，可呈現接近需求模樣
                            p (繪圖僅提供簡約線條繪製)色彩有特別指定，可提供色票
                            p 或參考圖片討論，避免雙方對文字敘述的色彩認知有落差 
                            p (手工調色，不會完全一模一樣)
                            p (無特殊色製作：金色、銀色、螢光系列)    
        .ig_content
            .container
                h2.text-center.shortunderline THE JOURNEY
                .row
                    .col-12.col-md-3.col-lg-3
                        .text-content
                            .text-center
                                h3 Recent Posts
                                p Every little thing
                                p happened in 
                                p Stoned In Paradise Studio
                                .button
                                    a(href="https://www.instagram.com/stonedinparadise.studio/" target="_blank" title="Instagram") READ MORE
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/CfMJArivl7h/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_01.jpg", alt="")
                                    .blur
                                    h3 2022.06.24
                                    h4 那天的花園蛋糕...
                        
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/CetM9ETPZEA/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_02.jpg", alt="")
                                    .blur
                                    h3 2022.06.12
                                    h4 《抽獎抽獎抽蛋糕得主》...
                        
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/Cen75MmP0Px/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_03.jpg", alt="")
                                    .blur
                                    h3 2022.06.10
                                    h4 大家晚安，今日工作繁忙...
                        
        footer
            .container.text-center
                .icon
                    a(href="https://www.facebook.com/stonedinparadise.cafe" target="_blank" title="Facebook")
                        img(src="public/images/icon_fb.svg", alt="Facebook")
                    a(href="https://www.instagram.com/stonedinparadise.studio/" target="_blank" title="Instagram")
                        img(src="public/images/icon_ig.svg", alt="Instagram")
                .information
                    h5 營業時間：13:00-17:30
                    h5 位置：台中市西區向上北路224巷21號
                    h6 © 2021 Stoned in Paradise Studio Co., Ltd. 發光的石頭
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous") 
    script(src="public/js/script.js") 
