doctype html
html(lang="zh-Hant")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 發光的石頭 | 購物車
        link(rel='stylesheet' href='public/css/styles-2.css')
        
    body 
        header 
            .container
                .row.flex-space-between
                    h1
                        a(href="index.html")
                            img(src="public/images/logo_2.png", alt="")
                    a#btn-nav-switch.icon-menu.display-md-none(href="javascript:;")
                        span
                    nav 
                        ul 
                            li 
                                a(href="about.html") 關於品牌
                            li 
                                a(href="process.html") 訂購流程 
                            li 
                                a(href="cake_color.html") 蛋糕色彩
                            li  
                                a(href="faq.html") 常見Q&A
                            li 
                                a(href="contact.html") 聯絡我們
                            li 
                                a(href="shopping_list.html")
                                    img.img-fluid(src="public/images/shopping cart.png", alt="shopping_cart")
        .top-bar
            .container
                .row
                    .col-3.col-md-3.col-lg-3.display-md-flex.justify-content-center
                        .triangle
                        .triangle 
                        .triangle 
                        .triangle
                        h3 STEP1
                    .col-3.col-md-3.col-lg-3.display-md-flex.justify-content-center
                        .triangle
                        .triangle 
                        .triangle 
                        .triangle
                        h3 STEP2
                    .col-3.col-md-3.col-lg-3.display-md-flex.justify-content-center
                        .triangle
                        .triangle 
                        .triangle 
                        .triangle                   
                        h3 STEP3
                    .col-3.col-md-3.col-lg-3.display-md-flex.justify-content-center
                        .triangle
                        .triangle 
                        .triangle 
                        .triangle
                        h3 STEP4 
        .container.s1       
            h2.text-center.margin-top-30.margin-bottom-30 本月行事曆
            .calendar
                img.img-fluid-2(src="public/images/on_calendar.jpg", alt="")
            hr
            h2.text-center.margin-top-30.margin-bottom-30 蛋糕口味
            .row.text-center
                .col-12.col-md-3.col-lg-3
                    img.img-fluid(src="public/images/chocolate_cake.png", alt="") 
                    p 酒香濃巧克力
                .col-12.col-md-3.col-lg-3
                    img.img-fluid(src="public/images/earl_grey.png", alt="") 
                    p 伯爵茶青檸檬
                .col-12.col-md-3.col-lg-3 
                    img.img-fluid(src="public/images/matcha_cake.png", alt="") 
                    p 小山園抹茶與焙茶厚奶凍
                .col-12.col-md-3.col-lg-3 
                    img.img-fluid(src="public/images/litchi_cake.png", alt="") 
                    p 雨の夏
        .container
            hr
            h2.text-center.margin-top-30.margin-bottom-30 尺寸
            .row 
                .col-12.col-md-6.col-lg-6
                    .product-img 
                        img.img-fluid.main-product(src="public/images/litchi_cake_1.png", alt="")
                        ul.sub-product 
                            li 
                                img.active(src="public/images/litchi_cake_1.png", alt="")
                            li 
                                img(src="public/images/litchi_cake_2.png", alt="")
                            li 
                                img(src="public/images/litchi_cake_3.png", alt="")                                                        
                .col-12.col-md-6.col-lg-6  
                    h3 雨の夏（伯爵茶覆盆子玫瑰與荔枝）
                    p 蛋糕體：#[br]法國依斯尼奶油#[br]勤億葉黃素機能蛋#[br]內餡:#[br]伯爵茶#[br]覆盆子#[br]食用玫瑰花#[br]荔枝
                    p 每筆訂單以一顆蛋糕為限，以便訂單查詢。
                    p 如有多顆蛋糕需求請分開下訂。#[br]訂購前有任何問題，歡迎點選聯絡我們聯繫。 
                    form(action="")
                        label(for="size") 尺寸
                        select.input-width
                            option 5“
                            option 6"
                            option 8"
                        label(for="date") 取貨日期
                            input.input-width(type='datetime-local' size='30')
                        label(for="time") 取貨時段
                        select.input-width
                            option 12:00~13:30
                            option 13:30~15:30
                            option 15:30~17:00
                        label(for="way") 製作方式 
                        select.input-width
                            option 不指定樣式
                            option 半客製化
                            option 客製化
            input.btn-primary.input-width(type="submit" value="送出訂單")
              

        .ig_content
            .container
                h2.text-center.shortunderline.margin-bottom-30 THE JOURNEY
                .row
                    .col-12.col-md-3.col-lg-3
                        .text-content
                            .text-center
                                h3 Recent Posts
                                p Every little thing
                                p happened in 
                                p Stoned In Paradise Studio
                                .button
                                    a(href="https://www.instagram.com/stonedinparadise.studio/" target="_blank" title="Instagram") READ MORE
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/CfMJArivl7h/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_01.jpg", alt="")
                                    .blur
                                    h3 2022.06.24
                                    h4 那天的花園蛋糕...
                        
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/CetM9ETPZEA/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_02.jpg", alt="")
                                    .blur
                                    h3 2022.06.12
                                    h4 《抽獎抽獎抽蛋糕得主》...
                        
                    .col-12.col-md-3.col-lg-3
                        .img-wrap
                            .img-overlay-2
                                a(href="https://www.instagram.com/p/Cen75MmP0Px/?utm_source=ig_web_copy_link" target="_blank")
                                    img.img-fluid(src="public/images/ig_img_03.jpg", alt="")
                                    .blur
                                    h3 2022.06.10
                                    h4 大家晚安，今日工作繁忙...
                        
        footer
            .container.text-center
                .icon
                    a(href="https://www.facebook.com/stonedinparadise.cafe" target="_blank" title="Facebook")
                        img(src="public/images/icon_fb.svg", alt="Facebook")
                    a(href="https://www.instagram.com/stonedinparadise.studio/" target="_blank" title="Instagram")
                        img(src="public/images/icon_ig.svg", alt="Instagram")
                .information
                    h5 營業時間：13:00-17:30
                    h5 位置：台中市西區向上北路224巷21號
                    h6 © 2021 Stoned in Paradise Studio Co., Ltd. 發光的石頭
        script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous") 
        script(src="public/js/script.js")
            

